<div style="float:right"><a routerLink='/login/home'>Home</a> | <a routerLink="/login">Login</a></div>
<table class="table table-hover">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Login Name</th>
        <th>Password</th>
    </thead>

    <tbody>
        <!-- <tr *ngFor="let usr of usersasync$ | async as users"> -->
            <tr *ngFor="let usr of users">
            <td>{{ usr.first_name }}</td>
            <td>{{ usr.last_name }}</td>
            <td>{{ usr.user_name }}</td>
            <td>{{ usr.password }}</td>
            <td><a [routerLink]="['edit', usr._id]" class="btn btn-primary">Edit</a></td>
            <td><a class="btn btn-danger" (click)="deleteuser(usr._id)">Delete</a></td>
        </tr>
    </tbody>
</table>
